/* Global styles */
@import url('https://fonts.googleapis.com/css?family=Rubik:400,900');

body {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
  color: #000;
}

a, a:visited {
  color: rgb(233, 73, 73);;
}

.clear {
  clear: both;
}

td {
  border-top: solid 1px #d3d3d3;
}

td, th {
  padding: 10px;
}

table {
  border-collapse:collapse;
}

/* Documentation site component styles */
.example {
  padding: 15px;
  margin: 0 15px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px;
  border-radius: 4px;
  background-color: #fff;
  color: rgb(148, 148, 148);
}

.example h4 {
  font-weight: 400;
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 5px;
}

.props th {
  font-weight: 400;
}

.props td {
  color: rgb(148, 148, 148);
}

.navigation {
  float: left;
  width: 200px;
  list-style-type: none;
  padding: 0;
}

.componentpage {
  margin-left: 225px;
}